<app-unauthorized-page (isAuthorized)="isAuthorizedUser($event)" *ngIf="!isAuthorized"></app-unauthorized-page>

<!-- <app-breadcrumbs [items]="items" [home]="home" #scrollToTop></app-breadcrumbs> -->
<div [className]="sidebarCheck ? 'half-open-breadcrum breadcrumb-box' : 'full-open-breadcrum breadcrumb-box' " #scrollToTop [hidden]="!isAuthorized">
  <ol class="breadcrumb breadcrumb-arrow ">
    <li><a class="icon ion-ios-home" routerLink="/iol"> Dashboard </a> </li>
    <!-- <li><a> Maintenance</a></li> -->
    <li><a routerLink="/iol/maintenance/manage/maintenance">Manage Maintenance</a></li>
  </ol>
</div>

<div [className]="sidebarCheck ? 'half-open-sidebar page-content  container-fluid' : 'full-open-sidebar page-content  container-fluid' "  style="padding-bottom: 170px;" [hidden]="!isAuthorized">
  <div class="row card-group-row">
    <!-- cards -->
    <div class="col-lg-12 card-group-row__col padding-0">
      <div class="col-lg-3">
        <div class="flex-card text-center relative shadow white heightMinimum"
          style="background-color: rgb(230, 0, 0); margin-bottom: 30px;">
          <div class="font-size-13">Accepted in maintenance</div>
          <div class="font-size-18 font-weight-600"> {{listOfCards?.accepted}} </div>
          <div class="font-size-10" style="padding-bottom: 5px;">since this year</div>
          <div class="row no-space card-row ng-star-inserted"></div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="flex-card text-center relative shadow white heightMinimum"
          style="background-color: rgb(230, 0, 0); margin-bottom: 30px;">
          <div class="font-size-13">Work In progress</div>
          <div class="font-size-18 font-weight-600"> {{listOfCards?.in_progress}} </div>
          <div class="font-size-10" style="padding-bottom: 5px;">since this year</div>
          <div class="row no-space card-row ng-star-inserted"></div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="flex-card text-center relative shadow white heightMinimum"
          style="background-color: rgb(230, 0, 0); margin-bottom: 30px;">
          <div class="font-size-13">Maintenance Due</div>
          <div class="font-size-18 font-weight-600"> {{listOfCards?.due}} </div>
          <div class="font-size-10" style="padding-bottom: 5px;">since this year</div>
          <div class="row no-space card-row ng-star-inserted"></div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="flex-card text-center relative shadow white heightMinimum"
          style="background-color: rgb(230, 0, 0); margin-bottom: 30px;">
          <div class="font-size-13">Completed</div>
          <div class="font-size-18 font-weight-600"> {{listOfCards?.completed}} </div>
          <div class="font-size-10" style="padding-bottom: 5px;">since this year</div>
          <div class="row no-space card-row ng-star-inserted"></div>
        </div>
      </div>
    </div>

    <!-- filters -->
    <div class="col-lg-4  card-group-row__col">
      <div class="panel panel-default round shadow" style="overflow: visible !important;">
        <div class="panel-heading margin-bottom-0">
          <h3 class="panel-title font-weight-600 bg-teal-8001 white1 ">Choose Parameters</h3>
          <div class="panel-actions">
            <a></a>
          </div>
        </div>
        <div class="panel-body padding-15">
          <div class="col-lg-10"
            *ngIf="loggedInUser.package[0].package_id === PackageType.standard && loggedInUser.read_only != true"
            style="padding:0px; margin-top: 10px; margin-bottom: 15px;margin-left: 25px;">
            <button #editpop type="button" class="btn btn-lg btn-primary btn-block btncolor" (click)="clearForm()"
              data-target="#editpop1" data-toggle="modal" style="font-size: 14px; border-radius: 20px;">
              <i class="ri-add-circle-fill"></i> New Maintenace
            </button>
          </div>

          <div class="col-lg-12" style="margin-top: 5px; margin-bottom: 5px;background: #FFF;">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch(searchForm.value)">
              <div class="form-group margin-bottom-10">
                <fieldset class="form-fieldset">
                  <legend>Filter</legend>
                  <div class="form-group margin-bottom-10">
                    <p-dropdown [options]="fleetListing" formControlName="searchFleet" name="searchFleet"
                      (onChange)="selectFleetDropDownChange($event)" styleClass="prime-dropdown"
                      placeholder="Select Fleet">
                    </p-dropdown>
                  </div>
                  <div class="form-group margin-bottom-10">
                    <p-dropdown [options]="vehicleListing" formControlName="searchVehicle" name="searchVehicle"
                      (onChange)="selectVehicleDropDownChange($event)" styleClass="prime-dropdown"
                      placeholder="Select Vehicle">
                    </p-dropdown>
                  </div>
                  <div class="form-group margin-bottom-10">
                    <p-dropdown [options]="serviceTypeList" formControlName="searchServiceType" name="searchServiceType"
                      (onChange)="selectFilterServiceType($event)" styleClass="prime-dropdown"
                      placeholder="Select Service Type">
                    </p-dropdown>
                  </div>

                  <div class="form-group margin-bottom-10">
                    <p-dropdown [options]="maintanceStatusListing" formControlName="searchMaintenanceStatus"
                      name="searchMaintenanceStatus" (onChange)="selectFilterMaintenaceStatus($event)"
                      styleClass="prime-dropdown" placeholder="Select Maintenance Status">
                    </p-dropdown>
                  </div>
                </fieldset>
              </div>

              <div class="form-group margin-bottom-10">
                <fieldset class="form-fieldset">
                  <legend>Search</legend>

                  <div class="form-group margin-bottom-10">
                    <div class="input-search">
                      <input type="text" class="form-control" formControlName="search" placeholder="Search...">
                      <button type="button" class="input-search-close icon " data-toggle="popover"
                        data-original-title="" data-trigger="hover" data-container="body" data-placement="top"
                        data-html="true" id="help2">
                        <i class="ri-question-line" pTooltip="Search Maintenance"></i>
                      </button>

                      <div id="popover-content-help2" class="hide">
                        Some help information goes here
                      </div>
                    </div>
                  </div>

                  <div class="form-group margin-bottom-0 text-center">
                    <button href="" type="submit" class="btn btn-success btn-round btn-block1">
                      <i class=" ri-search-line "></i>
                      Search
                    </button>
                    <button (click)="onClearSearch()" class="btn btn-default btn-round ">
                      <i class="ri-refresh-line "></i>
                      Clear
                    </button>
                  </div>

                </fieldset>
              </div>

              <!-- 2nd Filter -->
              <fieldset class="form-fieldset">
                <legend>Time Interval</legend>
                <div class="form-group margin-bottom-10">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="radio-custom checkbox-inline1 radio-warning">
                        <input type="radio" id="111" value="" name="radio" checked=""
                          (change)="changeRadioButtons($event)">
                        <label for="111">All</label>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="radio-custom checkbox-inline1 radio-warning">
                        <input type="radio" id="444" value="today" name="radio" (change)="changeRadioButtons($event)">
                        <label for="444">Current Day</label>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="radio-custom checkbox-inline1 radio-warning">
                        <input type="radio" id="555" value="week" name="radio" (change)="changeRadioButtons($event)">
                        <label for="555">Previous Week </label>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="radio-custom checkbox-inline1 radio-warning">
                        <input type="radio" id="666" value="month" name="radio" (change)="changeRadioButtons($event)">
                        <label for="666">Previous Month </label>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="radio-custom checkbox-inline1 radio-warning">
                        <input type="radio" id="666r" name="radio">
                        <label for="666r">Select a Period</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group margin-bottom-0">
                  <div class="row-filter">
                    <div class="col-filter">
                      <p-calendar placeholder="Select start date" [style]="{ 'width': '150px'}" id="fffl"
                        showTime="true" hourFormat="24" (onSelect)="selectDateRange($event,'start')"></p-calendar>
                    </div>
                    <div class="col-filter">
                      <p-calendar placeholder="Select end date" [style]="{ 'width': '150px'}" id="fffl" showTime="true"
                        hourFormat="24" (onSelect)="selectDateRange($event,'end')"></p-calendar>
                    </div>
                  </div>
                </div>
              </fieldset>
              <hr>
              <!-- Download Buttons start-->
              <div class="form-group margin-bottom-0">
                <label class="font-size-14 font-weight-600 ">Export:</label>
                <div class="btn-group btn-group-justified">
                  <div class="btn-group" role="group">
                    <a [href]="downloadableLink">
                      <button type="button" class="btn btn-outline btn-default">
                        <img src="../../../assets/images/icon-xls.png" height="50">
                        <div class="font-size-12">
                          <a [href]="downloadableLink" class="enabled">Download XLS</a>
                        </div>
                      </button>
                    </a>
                  </div>
                  <div class="btn-group" role="group">
                    <a [href]="downloadableLink1">
                      <button type="button" class="btn btn-outline btn-default">
                        <img src="../../../assets/images/icon-pdf.png" height="50">
                        <div class="font-size-12">Download PDF</div>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
              <!-- Download Buttons ends-->
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- table -->
    <div class="col-lg-8 card-group-row__col">
      <div class="panel panel-default round shadow">
        <div class="panel-heading margin-bottom-0">
          <h3 class="panel-title font-weight-600 bg-teal-8001 white1">List</h3>
          <div class="panel-actions">
            <a></a>
          </div>
        </div>

        <div class="panel-body padding-15">
          <p-progressBar *ngIf="showIndeterminateProgress" [style]="{'height': '3px'}" mode="indeterminate">
          </p-progressBar>
          <div class="table-responsive" style="border: 1px solid #ebebeb;">

            <table matSort (matSortChange)="sortData($event)"
              class="table margin-bottom-0 table-condensed1 table-bordered1 text-wrap theme-table1" mat-table
              [dataSource]="dataSource" mat-elevation-z8>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row">
                  {{row.device_id ||'N/A'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="device_id__name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>VEHICLE</th>
                <td mat-cell *matCellDef="let row">
                  <div class="media-body pointer" [routerLink]="gotoService.gotoTruck(row.device_id)">
                    <a class="font-weight-600">{{row.vehicle_name}}</a>
                  </div>
                  {{row.vehicle_name}}
                </td>
              </ng-container>
              <ng-container matColumnDef="driver_id__name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>DRIVER</th>
                <td mat-cell *matCellDef="let row">
                  {{ row.driver_name || 'N/A' }}
                </td>
              </ng-container>
              <ng-container matColumnDef="technician_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TECHNICIAN</th>
                <td mat-cell *matCellDef="let row">
                  {{ (row.technician_name) || '-' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="maintenance_type_id__label">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>SERVICE TYPE
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ (row.maintenance_type) ||
                  'N/A'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="maintenance_status_id__label">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>MAINTENANCE
                  STATUS</th>
                <td mat-cell *matCellDef="let row">
                  {{ (row.maintenance_status) ||
                  'N/A' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="start_datetime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>START DATE</th>
                <td mat-cell *matCellDef="let row">
                  {{ (row.start_datetime | date:'M/d/yyyy, hh:mm:ss') || '-'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="end_datetime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>END DATE</th>
                <td mat-cell *matCellDef="let row">
                  {{ (row.end_datetime | date:'M/d/yyyy, hh:mm:ss' ) || '-'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTIONS</th>
                <td mat-cell *matCellDef="let row">
                  <button type="button" class="btn btn-icon btn-info btn-xs" data-target="#editpop1"
                    *ngIf="loggedInUser.package[0].package_id === PackageType.standard && loggedInUser.read_only != true"
                    data-toggle="modal" pTooltip="Edit" (click)="editMaintenance(row)">
                    <i class="icon ion-edit"></i>
                  </button>

                  <button type="button" pTooltip="Delete" (click)="showSwal(row)"
                    *ngIf="loggedInUser.package[0].package_id === PackageType.standard && loggedInUser.read_only != true"
                    class="btn btn-icon  btn-danger btn-xs" data-original-title="Delete"><i
                      class="icon ion-android-delete"></i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns">
              </tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>

            <div *ngIf="dataSource?.length === 0" class="no-records">No records found</div>

            <mat-paginator translate="no" #paginator [length]="totalLength" [hidePageSize]="true" showFirstLastButtons [pageSize]="10"
              (page)="onPaginateChange($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- popup ist start-->
<div #formModal class="modal fade  modal-success text-left" id="editpop1" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="clear()" #closeForm data-dismiss="modal">×</button>
        <h4 class="modal-title">{{formTitle}} </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form novalidate [formGroup]="maintainForm" id="maintainFormID"
            (ngSubmit)="onSubmitMaintainance(maintainForm.value)">

            <div class="col-lg-6">
              <div class="form-group margin-bottom-20">
                <label>Service Type<span class="text-danger2">*</span></label>
                <p-dropdown [(ngModel)]="selectedServiceType" [options]="serviceTypeList"
                  formControlName="maintenance_type_id" name="serviceType"
                  (onChange)="selectServiceTypeDropDownChange($event)" styleClass="prime-dropdown"
                  placeholder="Select Service Type">
                </p-dropdown>
                <span class="error-message"
                  *ngIf="maintainForm.get('maintenance_type_id').getError('required') && submitted">
                  Please provide service type
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group margin-bottom-20">
                <label>Technician<span class="text-danger2">*</span></label>
                <input type="text" class="form-control" formControlName="technician_name"
                  placeholder="Name of Technician">
                <span class="error-message"
                  *ngIf="maintainForm.get('technician_name').getError('required') && submitted">
                  Please provide technician
                </span>
                <span class="error-message"
                  *ngIf="maintainForm.get('technician_name').getError('isAlphabetsAndNumbers') && submitted">Enter
                  alphabets/numbers only
                </span>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group margin-bottom-20">
                <label>Vehicles<span class="text-danger2">*</span></label>
                <p-dropdown [(ngModel)]="selectedVehicle" [options]="vehicleListing" formControlName="device_id"
                  name="vehicleGroup" (onChange)="selectGroupDropDownChange($event)" styleClass="prime-dropdown"
                  placeholder="Select Vehicles">
                </p-dropdown>
                <span class="error-message" *ngIf="maintainForm.get('device_id').getError('required') && submitted">
                  Please provide vehicle
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group margin-bottom-20">
                <label>Fleet</label>
                <input type="text" class="form-control" formControlName="fleet">
                <span class="error-message" *ngIf="maintainForm.get('fleet').getError('required') && submitted">
                  Please provide vehicle
                </span>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group margin-bottom-20">
                <label>Drivers<span class="text-danger2">*</span></label>
                <p-dropdown [(ngModel)]="selectedDriver" [options]="driversList" formControlName="driver_id"
                  name="selectedVehicle" (onChange)="selectDriverDropDownChange($event)" styleClass="prime-dropdown"
                  placeholder="Select Driver">
                </p-dropdown>
                <span class="error-message" *ngIf="maintainForm.get('driver_id').getError('required') && submitted">
                  Please provide driver
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group margin-bottom-20">
                <label>Maintenace Status<span class="text-danger2">*</span></label>
                <p-dropdown [(ngModel)]="selectedMaintenaceStatus" [options]="maintanceStatusListing"
                  formControlName="maintenance_status_id" name="vehicleGroup"
                  (onChange)="selectMaintenaceStatusDownChange($event)" styleClass="prime-dropdown"
                  placeholder="Select Maintenace Status">
                </p-dropdown>
                <span class="error-message"
                  *ngIf="maintainForm.get('maintenance_status_id').getError('required') && submitted">
                  Please provide maintenace status
                </span>
              </div>
            </div>
            <hr>

            <div class="col-lg-12">
              <div class="form-group margin-bottom-10">
                <label>Description (optional)</label>
                <textarea class="form-control" formControlName="description" rows="3"></textarea>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group margin-bottom-20">
                <label class="control-label">Target Start Date<span class="text-danger2">*</span></label>
                <div class="input-icon">
                  <p-calendar [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true"
                    [yearRange]="'1950:'+(currentDate.getFullYear())" [(ngModel)]="target_start_date" name="joiningDate"
                    placeholder="MM/DD/YYYY" styleClass="prime-datetime" formControlName="target_start_date">
                  </p-calendar>

                  <span class="error-message" style="position: relative!important;"
                    *ngIf="maintainForm.get('target_start_date').getError('required') && submitted">
                    Please provide target start date
                  </span>
                </div>

              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group margin-bottom-20">
                <label class="control-label">Target Delivery Date<span class="text-danger2">*</span></label>
                <div class="input-icon">
                  <p-calendar [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true"
                    [yearRange]="'1950:'+(currentDate.getFullYear())" [(ngModel)]="target_delivery_date"
                    name="joiningDate" placeholder="MM/DD/YYYY" (onSelect)="TargetDeliveryDateChanged()" styleClass="prime-datetime"
                    formControlName="target_delivery_date">
                  </p-calendar>

                  <span class="error-message" style="position: relative!important;"
                    *ngIf="maintainForm.get('target_delivery_date').getError('required') && submitted">
                    Please provide target delivery date
                  </span>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group margin-bottom-20">
                <label class="control-label">Next Maintenace Date</label>
                <div class="input-icon">
                  <p-calendar [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true"
                    [yearRange]="'1950:'+(currentDate.getFullYear())" [(ngModel)]="next_maintenance_date"
                    name="joiningDate" placeholder="MM/DD/YYYY" styleClass="prime-datetime"
                    formControlName="next_maintenance_date" [disabled]="!target_delivery_date"
                    [minDate]="min_next_maintenance_date">
                  </p-calendar>
                  <!-- target_delivery_date || restrictDate(target_delivery_date)-->

                  <span class="error-message" style="position: relative!important;"
                    *ngIf="maintainForm.get('next_maintenance_date').getError('required') && submitted">
                    Please provide next maintenace date
                  </span>
                </div>
              </div>
            </div>

            <div class="col-lg-6" style="margin-top: 30px;">
              <div class="row">
                <div class="col-sm-6">
                  Auto Reminder
                </div>
                <div class="col-sm-6" style="opacity: 30%;">
                  <div class="   ">
                    <div class="onoffswitch ">
                      <input type="checkbox" formControlName="auto_reminder" class="onoffswitch-checkbox"
                        id="myonoffswitch1" [checked]="false">
                      <label class="onoffswitch-label" for="myonoffswitch1">
                        <span class="onoffswitch-inner"></span>
                      </label>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </form>
        </div>

        <hr>
        <div class="form-group margin-bottom-10 text-center">
          <button type="submit" class="btn btn-success btn-round" [disabled]="btnLoading" style="margin-right: 10px;"
            form="maintainFormID">{{btnText}}</button>
          <button type="button" (click)="clear()" class="btn btn-default btn-round" #closeForm>Close
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- popup ends -->
