<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
    <!-- <div class="filter-position">
      <app-chart-filters *ngIf="chartFilter && chartFilter?.length > 0" 
        (selectedFilters)="getSelectedGraphData($event)"
        [filterData]="chartFilter"
        [selectedGraph]="selectedGraphFilter"></app-chart-filters>
    </div> -->
   
    <div id="qqqqqqq" style="height: 280px;"></div>
    <!-- <ng-template #noDataFound>
      <div style="display: flex;align-items: center;height: 33vh;justify-content: center;">
          <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
              <img style="opacity:0.3;margin-bottom:8px" src="assets/images/no-graph.png" alt="" width="80px"><br>
              <span>No record found!</span>
          </div>
      </div>
  </ng-template> -->
  </div>
  
  