<div class="login-bg">
  <div style="background-image: url(../../../assets/images/bg-login.jpg);  background-size:cover; height:100%; " class="pic"></div>
  <div class="vertical-align text-center">
    <div class="page-content " style="margin:auto;">
      <div class="brand margin-bottom-50" style="margin-bottom:40px;">
        <img class="brand-img" src="assets/images/iol/icon-bins-online.png" alt="..." height="100">
        <div class="text-center"> <h5 class="text-center">{{msg}}<br/></h5>
          <a class="btn btn-sm white no-border   btn-primary" (click)="logout()">Logout</a>
        </div>
      </div>

    </div>
  </div>
</div>
