/*.ng-valid {*/
  /*border-left: 5px solid #42A948; !* green *!*/
/*}*/

.bs-datepicker {
  z-index: 9999 !important;
}
bs-datepicker-container,
bs-daterangepicker-container {
  z-index: 9999 !important; 
}
.alert-md-color {
  background-color: #7B1FA2;
  border-color: #4A148C;
  color: #fff;
}
i::after { content: ' '; width: 1px; height: 1px; }

.mat-paginator {
  /* display: flex;
  justify-content: left!important; */

  /* text-align: right!important; */

  float: right !important;
} 

.modal-dialog {
  overflow-y: initial !important
}

/* .modal-body {
  height: 450px;
  overflow-y: auto;
} */

.no-records {
  color: black;
}
.btn-block{
  background-color: #e60000 !important;
}
.btn-round {
  border-radius: 1000px;

}
.btn-block1{
  margin-right: 6px;
}
.form-fieldset {
  border: 2px solid #eee !important;
  margin: 0;
  padding: 15px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}
.form-fieldset legend {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: -5px;
  border: 0px solid #ddd;
  padding: 5px 5px;
  background-color: #fff;
  display: inline-block;
  width: auto;
  color: #777;
  margin-left: -10px;
}
.input-search .form-control {
  border-radius: 0px;
}
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}