.file-upload-btn {
    width: 15%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 5px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    /* text-transform: uppercase; */
    font-weight: 700;
}

.image-upload-wrap {
    margin-top: 20px;
    padding: 40px 40px 40px 40px;
    border: 2px dashed lightgray;
    position: relative;
}

.drag-text {
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.fileName-padding {
    padding-left: 15px;
}

.no-records {
    color: black;
}
.btncolor{
    background-color: #e60000 !important;
}
.ri-add-circle-fill:before {
    content: "\ea0e";
}
.form-fieldset {
    border: 2px solid #eee !important;
    margin: 0;
    padding: 15px;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
}
.form-fieldset legend {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: -5px;
    border: 0px solid #ddd;
    padding: 5px 5px;
    background-color: #fff;
    display: inline-block;
    width: auto;
    color: #777;
    margin-left: -10px;
}
.input-search .form-control {
    border-radius: 0px;
}
.btn-round {
    border-radius: 1000px;

}
.btn-block1{
    margin-right: 6px;
}
.no-records{
    color: black !important;
}

.mat-cell {
    font-size: 14px;
    min-height: 48px;
    text-align: center;
    border: 1px solid #e4eaec;
}
.mat-row{
    min-height: 48px;
    text-align: center;
    border-right: 1px solid #e4eaec;
}

.modal-success .modal-header{
    color: #444444 !important;
    background-color: white !important;

}
.modal-success .modal-header * {
    color: #444444 !important;
}
#txt{
    font-size: 12px !important;
}
.text-danger {
    color: #dc3545;
}
.half-sidebar1{
margin-left: 90px  !important;
}
.full-sidebar1{
  margin-left: 220px  !important;
}
