<div class="breadcrumb-box" #scrollToTop>
  <ol class="breadcrumb breadcrumb-arrow ">
    <li class="pointer"><a class="icon ion-ios-home" href="/iol"> Dashboard </a></li>
    <li>Clients</li>
  </ol>
</div>


<div class="page-content   container-fluid  full-open-sidebar"   >
  <div class="row  ">
    <div class="col-lg-12">
      <div class="row  ">
        <div class="col-md-4">
          <div
            style="background-color: rgb(235,151,0) !important;"
            class="card widget-content padding-10 padding-right-15 padding-left-15 white shadow height-70  margin-bottom-20  clearfix pointer"
            (click)="filterClientOnStatus('All')">
            <div class="pull-left white">
              <i> <img src="assets/images/iol/icon-client.png" alt="img" height="40"> </i>
            </div>
            <div class="text-right pull-right">
              <div class="counter-number-group white">
                <span class="font-size-18">{{status.total || 0}}</span>
              </div>
              <div class="counter-label text-capitalize font-size-12">Total Clients</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div
            style="background-color: rgb(94,39,80) !important;"
            class="card widget-content padding-10 padding-right-15 padding-left-15 white shadow height-70  margin-bottom-20  clearfix pointer"
            (click)="filterClientOnStatus('Active')">
            <div class="pull-left white">
              <i> <img src="assets/images/iol/icon-client.png" alt="img" height="40"> </i>
            </div>
            <div class="text-right pull-right">
              <div class="counter-number-group white">
                <span class="font-size-18">{{status.active || 0}}</span>
              </div>
              <div class="counter-label text-capitalize font-size-12">Active Clients</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div
            style="background-color: rgb(0,124,146) !important;"
            class="card widget-content padding-10 padding-right-15 padding-left-15 white shadow height-70  margin-bottom-20  clearfix pointer"
            (click)="filterClientOnStatus('Inactive')">
            <div class="pull-left white">
              <i> <img src="assets/images/iol/icon-client.png" alt="img" height="40"> </i>
            </div>
            <div class="text-right pull-right">
              <div class="counter-number-group white">
                <span class="font-size-18">{{status.inactive || 0}}</span>
              </div>
              <div class="counter-label text-capitalize font-size-12">Inactive Clients</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel card shadow light panel-default nav-tabs-horizontal padding-0 margin-bottom-0">
            <div class="panel-heading font-weight-600">
              <div *ngIf="!enableSearch" class="panel-actions">
                <a class="panel-action icon ion-loop" [pTooltip]="'Refresh'" tooltipPosition="top"
                   (click)="getClients()"></a>
              </div>
              <h3 class="panel-title font-weight-600">All Clients </h3>
            </div>
            <div class="panel-body padding-0">
              <div class="vscroll padding-right-10" style="height:auto;">
                <div class="table-responsive dt-table" style="border: 1px solid #ebebeb;">
                  <div class="row margin-bottom-15">
                    <div class="col-lg-3  pull-right">
                      <app-table-search [tooltipArray]="'Name'" [rows]="temp" [args]="['name', 'party_code']"
                                        (filter)="updateFilter($event)"
                                        [disableTextBox]="clientLoader.visibility"></app-table-search>

                      <!--                      <div class="input-icon">-->
                      <!--                      <input type='text' [placeholder]="searchPlaceHolder" [disabled]="enableSearch" class="form-control input-sm" [(ngModel)]="inputValue" (keyup)='updateFilter($event)'/>-->
                      <!--                        <span class="icon fa fa-info-circle" pTooltip='Search By Name' tooltipPosition="top"></span>-->
                      <!--                      </div>-->
                    </div>

                  </div>

                  <p-progressBar *ngIf="showIndeterminateProgress" [style]="{'height': '5px'}"
                                 mode="indeterminate"></p-progressBar>
                  <ngx-datatable
                    #table
                    class="material defaultCursor"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [limit]="10"
                    [rows]='clients'>
                    <ngx-datatable-column name="Name" prop="name">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <span class="pointer" [routerLink]="gotoService.gotoClient(row.id)">
                          <a>{{(value)}}</a>
                        </span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Party Code" prop="party_code">
                      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div>
                          {{value || '-'}}
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [cellClass]="'text-center'" [headerClass]="'text-center'" name="Status"
                                          prop="status_label">
                      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div>
                      <span class="label"
                            [ngClass]="(row.status == EntityStatusEnum.Active)? 'label-success': 'label-danger'">
                        {{value}}
                      </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column name="No. of Bins" [cellClass]="'text-center'" [headerClass]="'text-center'"
                                          prop="total_bins">
                      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div>
                          {{value || '-'}}
                        </div>
                      </ng-template>
                    </ngx-datatable-column> -->
                    <ngx-datatable-column name="Modified By" prop="modified_by_name">
                      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <span [title]="row.modified_by_email">{{value || '-'}}</span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Modified Datetime" prop="modified_datetime">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <div [class]="value? '' : 'text-center'">
                      <span>
                        {{(value | date: 'medium') || '-'}}
                      </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Created Datetime" prop="created_datetime">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <div>
                      <span>
                        {{value | date: 'medium'}}
                      </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                  </ngx-datatable>
                </div>
              </div>
              <app-spin-loading [appLoader]="appLoader"></app-spin-loading>
            </div>

          </div>

        </div>
      </div>
    </div>


  </div>

</div>

